.navbar-brand span{
    font-weight: 900;
    text-transform: uppercase;
}
#navMenu li a:hover, ul.dropdown-menu>li>a:hover{
    color: #EC0000!important;
}
.errorLogin{
    margin-top: 10em;
}
.sidePane .list-group-item:first-child{
    font-weight: 900;
    text-align: center;
    font-size: 1.1em;
}
.sidePane .list-group-item:first-child a:hover{
    text-decoration: none;
}
#dashboard .card p{
    font-weight: 900;
    font-size: 2em;
}
.modally{
    cursor: pointer;
}
#newVacancyModal form .form-control, #editVacancyModal form .form-control {
    margin-bottom: 10px;
}
#vacanciesTable .dropdown-menu li span{
    padding-left: 10px;
    display: block;
    width: 100%;
    height: 100%;
}
#vacanciesTable .dropdown-menu li:hover{
    background: #e6e7e8;
}
.fixed-size{
    width: 150px;
    height: 150px;
}


.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #2d986c;
    border-color: #2d986c;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

/*Responsive Style*/
@media(min-width: 768px){
    #navMenu{
        display: none;
    }
    .navbar{
        min-height: 7em;
    }
    .navbar-brand span {
        display: none;
    }
}
@media(max-width: 767px){
    .navbar-brand img {
        display: none;
    }
    .sidePane {
        display: none;
    }
}
